// Your custom styles

//text styles
.text-primary {
    color: $primary !important;
}

//form
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0rem #2e2e2e;
}

//btn styles
.btnLink {
    padding: 10px 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    color: $primary !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-transform: capitalize;
    text-decoration: none !important;
}

.btn.btn-link {
    color: $primary !important;
}

.btn-auth {
    width: 100%;
    margin: 0;
    background-color: $primary !important
}

.btn-icon {
    display: inline-block;
    padding: 10px;
    background-color: #3aa6d4;
    margin-right: 15px;
}

//navTabs Style material
.nav-tabs {
    border-bottom: transparent;
    text-align: center;
}

.nav-tabs .nav-item {
    border-bottom: transparent;
    width: 50% !important;
    text-align: center;
}

.nav-item .nav-link:hover {
    color: $grey-darken-4 !important;
}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: $grey-darken-4;
    transition: 0.35s;
    font-weight: bold;
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    color: $grey-darken-4 !important;
    background-color: #fff;
    border-color: transparent;
    border-bottom: 2px solid $primary;
}

.nav-tabs .nav-link.active:hover {
    color: $grey-darken-4 !important;
    background-color: #fff;
    border-color: transparent;
    border-bottom: 2px solid $primary;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

// Sidebar Styles

.sidebarStyles {
    width: 260px;
    background-color: $primary;
}

// List item sidebar
.list-group-item {
    position: relative;
    display: block;
    padding: .85rem 1.25rem;
    margin-bottom: -1px !important;
    background-color: transparent;
    border: 0;
    color: #fff;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #8dd8f8;
    border-color: #8dd8f8;
    border-left: 2px solid #707070;
    transition: all .2s ease;
    -moz-transition: .2s ease all;
    -webkit-transition: all .2s ease;
}

.list-group-item:hover {
    background-color: #8dd8f8;
    border-left: 2px solid #707070;
    transition: all .2s ease;
    -moz-transition: .2s ease all;
    -webkit-transition: all .2s ease;
}

.list-group .list-group-item:last-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.list-group .list-group-item:first-child {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.icon-list-item {
    margin-right: 15px;
    width: 20px;
}

.title-list-item {
    position: relative;
    top: 3px;
}

.title-list-item-no-icon {
    position: relative;
    top: 3px;
    left: 35px;
}

.link-logout {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 55px;
}

.link-logout:hoverC {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 55px;
}